<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userTelegram">
            <h2><span>User Telegram</span> {{ userTelegram.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{ userTelegram.username }}</span>
                </dd>
                <dt><span>Fullname</span></dt>
                <dd>
                    <span>{{ userTelegram.fullname }}</span>
                </dd>
                <dt><span>Is Bot</span></dt>
                <dd>
                    <span>{{ userTelegram.isBot }}</span>
                </dd>
                <dt><span>Chat Id</span></dt>
                <dd>
                    <span>{{ userTelegram.chatId }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ userTelegram.status }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-telegram', userTelegram.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
