<div>
    <h2 id="page-heading">
        <span>User Telegrams</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-telegram" [routerLink]="['/user-telegram/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new User Telegram
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userTelegrams?.length === 0">
        <span>No userTelegrams found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userTelegrams?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="username"><span>Username</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fullname"><span>Fullname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isBot"><span>Is Bot</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="chatId"><span>Chat Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userTelegram of userTelegrams ;trackBy: trackId">
                    <td><a [routerLink]="['/user-telegram', userTelegram.id, 'view']">{{ userTelegram.id }}</a></td>
                    <td>{{ userTelegram.username }}</td>
                    <td>{{ userTelegram.fullname }}</td>
                    <td>{{ userTelegram.isBot }}</td>
                    <td>{{ userTelegram.chatId }}</td>
                    <td>{{ userTelegram.status }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-telegram', userTelegram.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-telegram', userTelegram.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userTelegram)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="userTelegrams?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
