<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="telegramCommand">
            <h2><span>Telegram Command</span> {{ telegramCommand.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Command</span></dt>
                <dd>
                    <span>{{ telegramCommand.command }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ telegramCommand.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/telegram-command', telegramCommand.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
