<div>
    <h2 id="page-heading">
        <span>Telegram Commands</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-telegram-command" [routerLink]="['/telegram-command/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Telegram Command
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="telegramCommands?.length === 0">
        <span>No telegramCommands found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="telegramCommands?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Command</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let telegramCommand of telegramCommands ;trackBy: trackId">
                    <td><a [routerLink]="['/telegram-command', telegramCommand.id, 'view']">{{ telegramCommand.id }}</a></td>
                    <td>{{ telegramCommand.command }}</td>
                    <td>{{ telegramCommand.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/telegram-command', telegramCommand.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/telegram-command', telegramCommand.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(telegramCommand)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
