<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span>Client</span> {{ client.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Company Name</span></dt>
                <dd>
                    <span>{{ client.companyName }}</span>
                </dd>
                <dt><span>Host</span></dt>
                <dd>
                    <span>{{ client.host }}</span>
                </dd>
                <dt><span>Port</span></dt>
                <dd>
                    <span>{{ client.port }}</span>
                </dd>
                <dt><span>Path Url</span></dt>
                <dd>
                    <span>{{ client.pathUrl }}</span>
                </dd>
                <dt><span>Method</span></dt>
                <dd>
                    <span>{{ client.method }}</span>
                </dd>
                <dt><span>Header</span></dt>
                <dd>
                    <span>{{ client.header }}</span>
                </dd>
                <dt><span>Client Type</span></dt>
                <dd>
                    <span>{{ client.clientType }}</span>
                </dd>
                <dt><span>Oms Type</span></dt>
                <dd>
                    <span>{{ client.omsType }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
