<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-client-heading">Create or edit a Client</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_companyName">Company Name</label>
                    <input type="text" class="form-control" name="companyName" id="field_companyName"
                           formControlName="companyName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_host">Host</label>
                    <input type="text" class="form-control" name="host" id="field_host"
                           formControlName="host"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_port">Port</label>
                    <input type="number" class="form-control" name="port" id="field_port"
                           formControlName="port"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pathUrl">Path Url</label>
                    <input type="text" class="form-control" name="pathUrl" id="field_pathUrl"
                           formControlName="pathUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_method">Method</label>
                    <input type="text" class="form-control" name="method" id="field_method"
                           formControlName="method"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_header">Header</label>
                    <input type="text" class="form-control" name="header" id="field_header"
                           formControlName="header"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_clientType">Client Type</label>
                    <input type="number" class="form-control" name="clientType" id="field_clientType"
                           formControlName="clientType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_omsType">Oms Type</label>
                    <input type="text" class="form-control" name="omsType" id="field_omsType"
                           formControlName="omsType"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
