<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="omsCommand">
            <h2><span>Oms Command</span> {{ omsCommand.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Command</span></dt>
                <dd>
                    <span>{{ omsCommand.command }}</span>
                </dd>
                <dt><span>Call Back Query</span></dt>
                <dd>
                    <span>{{ omsCommand.callBackQuery }}</span>
                </dd>
                <dt><span>Tipe</span></dt>
                <dd>
                    <span>{{ omsCommand.tipe }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ omsCommand.description }}</span>
                </dd>
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="omsCommand.clientId">
                        <a [routerLink]="['/client', omsCommand.clientId, 'view']">{{ omsCommand.clientId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/oms-command', omsCommand.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
