<div>
    <h2 id="page-heading">
        <span>Oms Commands</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-oms-command" [routerLink]="['/oms-command/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Oms Command
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="omsCommands?.length === 0">
        <span>No omsCommands found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="omsCommands?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Command</span></th>
                    <th scope="col" ><span>Call Back Query</span></th>
                    <th scope="col" ><span>Tipe</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Client</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let omsCommand of omsCommands ;trackBy: trackId">
                    <td><a [routerLink]="['/oms-command', omsCommand.id, 'view']">{{ omsCommand.id }}</a></td>
                    <td>{{ omsCommand.command }}</td>
                    <td>{{ omsCommand.callBackQuery }}</td>
                    <td>{{ omsCommand.tipe }}</td>
                    <td>{{ omsCommand.description }}</td>
                    <td>
                        <div *ngIf="omsCommand.clientId">
                            <a [routerLink]="['/client', omsCommand.clientId , 'view']" >{{ omsCommand.clientId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/oms-command', omsCommand.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/oms-command', omsCommand.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(omsCommand)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
